In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [5]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [13]:
float((data["native-country"] == "Germany").sum()) / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [25]:
age1 = data[data['salary'] == '>50K']['age']
age2 = data[data['salary'] == '<=50K']['age']
print('mean {0} and standard deviation {1} of age for those who earn more than 50K per year'.format(round(age1.mean()),round(age1.std(),1)))
print('mean {0} and standard deviation {1} of age for those who earn less than 50K per year'.format(round(age2.mean()),round(age2.std(),1)))

mean 44 and standard deviation 10.5 of age for those who earn more than 50K per year
mean 37 and standard deviation 14.0 of age for those who earn less than 50K per year

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [26]:
data[data['salary'] == '>50K']['education'].value_counts()

education
Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: count, dtype: int64

**7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.**

In [36]:
for race,df in data.groupby(["race", "sex"]):
    print(race)
    print(df['age'].describe())

('Amer-Indian-Eskimo', 'Female')
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
('Amer-Indian-Eskimo', 'Male')
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Female')
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Male')
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
('Black', 'Female')
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Black', 'Male')
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Other', 'Female')
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
('Other', 'Male')
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
('White', 'Female')
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('White', 'Male')
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [45]:
data[(data['sex']== 'Male') & (data['marital-status'].str.startswith('Married'))]['salary'].value_counts(normalize = True)

salary
<=50K    0.559486
>50K     0.440514
Name: proportion, dtype: float64

In [46]:
data[(data['sex']== 'Male') & ~(data['marital-status'].str.startswith('Married'))]['salary'].value_counts(normalize = True)

salary
<=50K    0.915505
>50K     0.084495
Name: proportion, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [50]:
m = data['hours-per-week'].max()
n = data[data['hours-per-week'] == m].shape[0]
n

85

In [52]:
(data[data['hours-per-week'] == m][data['salary'] == '>50K'].shape[0]/n)*100

C:\Users\PMLS\AppData\Local\Temp\ipykernel_8012\2242060404.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (data[data['hours-per-week'] == m][data['salary'] == '>50K'].shape[0]/n)*100

29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [54]:
for (country,salary), df in data.groupby(['native-country','salary']):
    print(country,salary)
    print(round(df['hours-per-week'].mean(),2))

? <=50K
40.16
? >50K
45.55
Cambodia <=50K
41.42
Cambodia >50K
40.0
Canada <=50K
37.91
Canada >50K
45.64
China <=50K
37.38
China >50K
38.9
Columbia <=50K
38.68
Columbia >50K
50.0
Cuba <=50K
37.99
Cuba >50K
42.44
Dominican-Republic <=50K
42.34
Dominican-Republic >50K
47.0
Ecuador <=50K
38.04
Ecuador >50K
48.75
El-Salvador <=50K
36.03
El-Salvador >50K
45.0
England <=50K
40.48
England >50K
44.53
France <=50K
41.06
France >50K
50.75
Germany <=50K
39.14
Germany >50K
44.98
Greece <=50K
41.81
Greece >50K
50.62
Guatemala <=50K
39.36
Guatemala >50K
36.67
Haiti <=50K
36.33
Haiti >50K
42.75
Holand-Netherlands <=50K
40.0
Honduras <=50K
34.33
Honduras >50K
60.0
Hong <=50K
39.14
Hong >50K
45.0
Hungary <=50K
31.3
Hungary >50K
50.0
India <=50K
38.23
India >50K
46.48
Iran <=50K
41.44
Iran >50K
47.5
Ireland <=50K
40.95
Ireland >50K
48.0
Italy <=50K
39.62
Italy >50K
45.4
Jamaica <=50K
38.24
Jamaica >50K
41.1
Japan <=50K
41.0
Japan >50K
47.96
Laos <=50K
40.38
Laos >50K
40.0
Mexico <=50K
40.0
Mexico >50K
46.58
Nicaragua <=50K
36.09
Nicaragua >50K
37.5
Outlying-US(Guam-USVI-etc) <=50K
41.86
Peru <=50K
35.07
Peru >50K
40.0
Philippines <=50K
38.07
Philippines >50K
43.03
Poland <=50K
38.17
Poland >50K
39.0
Portugal <=50K
41.94
Portugal >50K
41.5
Puerto-Rico <=50K
38.47
Puerto-Rico >50K
39.42
Scotland <=50K
39.44
Scotland >50K
46.67
South <=50K
40.16
South >50K
51.44
Taiwan <=50K
33.77
Taiwan >50K
46.8
Thailand <=50K
42.87
Thailand >50K
58.33
Trinadad&Tobago <=50K
37.06
Trinadad&Tobago >50K
40.0
United-States <=50K
38.8
United-States >50K
45.51
Vietnam <=50K
37.19
Vietnam >50K
39.2
Yugoslavia <=50K
41.6
Yugoslavia >50K
49.5